@using HilresChart.Blazor.Extensions
<AuthorizeView>
    <Authorized>
        <a class="nav-link" href="Identity/Account/Manage">Hello, @context.GetUserName()</a>
        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-link btn btn-link">Log out</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a class="nav-link" href="Identity/Account/Login">Log in</a>
        <a class="nav-link" href="Identity/Account/Register">Register</a>
    </NotAuthorized>
</AuthorizeView>