@inherits LayoutComponentBase
<div class="container-fluid d-flex flex-column h-100">
    <div class="page-header">
        <PageHeader />
    </div>
    <div class="Page-Content container flex-grow-1 px-2">
        @Body
    </div>
</div>