<div class="page-header">
    <div class="mx-auto">
        <nav class="nav d-flex px-3">
            <NavLink class="navbar-brand" href="">Hilres Chart</NavLink>
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Home</NavLink>
            <NavLink class="nav-link" href="/chart" Match="NavLinkMatch.All">Chart</NavLink>
            <NavLink class="nav-link" href="/about" Match="NavLinkMatch.All">About</NavLink>
            <div class="flex-grow-1"></div>
            <LoginDisplay />
        </nav>
    </div>
</div>