@using HilresChart.Blazor.Extensions
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Navigations
@inject HilresChart.Core.Services.IPortfolioService portfolioService
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor accessor

<div>
    <SfGrid DataSource="@portfolios" AllowPaging="false">
        <GridEvents RowSelected="RowSelectHandler" TValue="Portfolio"></GridEvents>
        <GridColumns>
            <GridColumn Field=@nameof(Portfolio.Name) HeaderText="Portfolios" Width="120"></GridColumn>
        </GridColumns>
    </SfGrid>
</div>
@code
{
    [Parameter]
    public EventCallback<int> RowSelected { get; set; }

    private List<Portfolio> portfolios;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await LoadTableAsync();
    }

    private async Task LoadTableAsync()
    {
        this.portfolios = await this.portfolioService.GetUsersPortfoliosAsync(@accessor.GetUserId());
    }

    private void RowSelectHandler(RowSelectEventArgs<Portfolio> args)
    {
        RowSelected.InvokeAsync(args.Data.Id);
    }
}