@page "/portfolio"
@using Extensions
@inject HilresChart.Core.Services.IPortfolioService portfolioService
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor accessor

<h3>Portfolio</h3>

<div>
    <SfGrid DataSource="@portfolios" AllowPaging="true">
        <GridColumns>
            <GridColumn Field=@nameof(Portfolio.Name) HeaderText="Portfolio Name" Width="120"></GridColumn>
        </GridColumns>
    </SfGrid>
</div>

@code
{
    private List<Portfolio> portfolios;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        this.portfolios = await this.portfolioService.GetUsersPortfoliosAsync(@accessor.GetUserId());
    }
}