@page "/portfolio"
@inject HilresChart.Core.Services.IPortfolioService portfolioService

<h3>Portfolio</h3>

<div>
    <SfGrid DataSource="@portfolios" AllowPaging="true">
        <GridColumns>
            <GridColumn Field=@nameof(Portfolio.Name) HeaderText="Portfolio Name" Width="120"></GridColumn>
        </GridColumns>
    </SfGrid>
</div>

@code
{
    private List<Portfolio> portfolios;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        this.portfolios = this.portfolioService.GetUsersPortfolios("abc");
    }
}